<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
<p> Bonjour </br> 
Je m'appelle {{name |capitalize |default('Maha')}} {{prenom|capitalize|default('Abid')}} </br>
J'ai {{age| abs }} ans </br> 
Et je suis de la section {{section|default('RT')}}



</div>
    
</body>
</html>
